main {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
}

section {
  width: 100%;
  background-color: #fff;
  margin-top: 0.5em;
}

/* Leave space for the header */
section:first-child {
  margin-top: 5rem;
}

#header {
  position: fixed;
  top: 0;
  /* Same as #main */
  width: 100%;
  max-width: 1000px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  box-shadow: 0 2px 5px  #0006;
}

select, button {
  background-color: inherit;
  color: inherit;
  font-size: 1.2em;
  height: 2em;
  padding: 0.25em 0.5em;
  border: 2px outset #666;
  border-radius: 0.25em;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000d;
}

button {
  position: absolute;
  margin: 0 auto;
}

div#image-upload {
  --size: 4em;
  --scroll-width: 15px;
  height: calc(100vh - 2em);
  width: calc(5 * var(--size) + var(--scroll-width));
  max-width: calc(100vw - var(--scroll-width));
  overflow: auto;
  background-color: #222;
}

div#image-upload img {
  width: var(--size);
}

div#image-upload input {
  position: absolute;
  visibility: hidden;
}

div#image-upload input:checked ~ img {
  opacity: 0.125
}

/* PRINT // PRINT // PRINT // PRINT // PRINT // PRINT // PRINT */

@media print {
  #header *
  {
    display: none !important;
  }

  /* No space needed for the header or between pages */
  section, section:first-child {
    margin-top: 0;
  }

  .temp {
    opacity: 0;
  }
}