body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  
  background-color: #222;
  color: #ddd;
}


#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #333;
  box-shadow: #000 1em 0 1em;
}