:root {
  --controller-height: 5em;
  --scroll-size: 20px;
  --card-height: calc(100vh - var(--controller-height));
  --card-width: calc(var(--card-height) + var(--scroll-size));
  --store-width: calc(100vw - var(--card-width));
  --store-size: calc(var(--store-width) - var(--scroll-size));
  --image-size: calc(var(--store-size) / 4);
  --image-bg-color: #222;
  --tool-width: calc(var(--card-width) / 4);
  --one-card-margin: 1em;
  --size-chooser-height: 6em;
  --image-store-height: calc(100% - var(--size-chooser-height))
}

#controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--controller-height);
}

#page {
  font-size: 0.8em;
  text-align: center;
  width: 24em;
  margin: 1em;
  border: 1px inset #666;
  background-color: #222;
}

#controller h1 {
  position: relative;
  margin: 0.5em 0 0.2em;
}

#controller button {
  /* position: relative; */
  /* margin-bottom: 0.2em; */
  background-color: #111;
  padding: 0.25em 0.5em;
  border: 2px outset #666;
  border-radius: 0.5em;
  color: inherit;
}

.image-count {
  text-align: center;
}

.file-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-picker label  {
  margin-top: 1em;
}

.file-picker label span {
  font-size: 0.75em;
}

.file-picker input[type="file"] {
  font-size: 1em;
  width: 18em;
}

/* Main */

article h1 {
  margin-top: 0;
  padding-top: 1em;
}

#home {
  height: 100vh;
  background-color: #311;
}

#create {
  height: var(--card-height);
  background-color: #222;
  display: flex;
}

#image-store {
  height: 100%;
  width: var(--store-width);
  background-color: #111;
}

#size-chooser {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: var(--size-chooser-height);
}

#size-chooser .add-more {
  color: #a00;
}

#size-chooser .just-right {
  color: #090;
}

#size-chooser .too-many {
  color: #aa0;
}

.images-per-card input[type="radio"] {
  position: absolute;
  visibility: hidden;
  width: 0;
}

.images-per-card span {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: 2px outset #666;
  border-radius: 6px;
  text-align: center;
  background-color: #333;
}

.images-per-card input[type="radio"]:checked ~ span {
  border-style: inset;
  background-color: #111;
}

#images-in-cards {
  height: var(--image-store-height);
  overflow: auto;
}

.one-card {
  margin: var(--one-card-margin) 0
}

.one-card:first-child,
.one-card:last-child {
    margin: 0
}

.image {
  display: inline-block;
  width: var(--image-size);
  height: var(--image-size);
  border-radius: var(--image-size);
  background-color: var(--image-bg-color);
}

/* Show repeated image as unchangeable... */
.image.on-all-preview-cards {
  background-color: transparent;
  border:1px var(--image-bg-color) solid;
  box-sizing: border-box;
}

/* Except on the first preview card */
.one-card:first-child .image:first-child {
  background-color: var(--image-bg-color);
  border: none
}

.image img {
  width: 100%;
}

.extra img {
  opacity: 0.25
}

.orange {
  background-color: #8408;
}

.yellow {
  background-color: #8808;
}

.green {
  background-color: #0808;
}

.teal {
  background-color: #0888;
}

.blue {
  background-color: #0598;
}

.royal {
  background-color: #0078;
}

.purple {
  background-color: #4078;
}

.pink {
  background-color: #7048;
}

.grey {
  background-color: #4448;
}

#card-maker {
  position: relative;
  height: var(--card-height);
  width: var(--card-width);
  overflow: auto
}


div[id$="-tools"] {
  position: absolute;
  width: var(--tool-width);
  display: inline-block;

  opacity: 0.25;
  pointer-events: none;
}

div[id$="-tools"] .slider,
div[id$="-tools"] button {
    display: flex;
  justify-content: center;
  align-items: center;

  height: 2rem;
  width: 2rem;
}

#set-tools {
  position: absolute;
  width: var(--tool-width);
  display: block;
  top: 0;
  left: 0;
}

#set-tools label {
  display: block;
}

#set-tools input:not(:checked) ~ span {
  color: #666
}

#card-tools {
  top: 0;
  right: 0;
  text-align: right;
}

#card-scale {
  display: flex;
  /* justify-content: stretch; */
}

.slider {
  flex-grow: 1;
  display: flex;
  justify-content: stretch;
}

.slider * {
  display: inline-block;
}

.slider input {
  width: 3.5em;
  height: 1em;
}

.slider div {
  border: 1px solid black;
  border-radius: 1em;
  height: 1em;
}

.slider .range {
  flex-grow: 1;
  flex-basis: 5em;
  background-color: #fff;
}

.slider .thumb {
  width: 1em;
  box-sizing: border-box;
}

#image-tools {
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: end;
}

#reset-offset {
  font-size: 2em;
}

#preview {
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 0.25em 0.5em;
}